/*для создания наложения*/
.hero__frame {
  z-index: 1;
  grid-column: 4 / -1;
  grid-row: 1;

  display: grid;
  justify-items: end;
}

/*для позиционирования элементов*/
.hero__media {
  position: relative;
  top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*круги на заднем фоне*/
.hero__media::before,
.hero__media::after {
  position: absolute;
  z-index: 0;

  content: "";
  border: 70px solid var(--color-dark-white);
  border-radius: 50%;
}

.hero__media::before {
  width: 814px;
  height: 814px;
}

.hero__media::after {
  width: 540px;
  height: 540px;
}

.hero__image {
  display: block;
  z-index: 1;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .hero__media::before,
  .hero__media::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .hero__frame {
    grid-column: 3 / -1;
  }

  .hero__image {
    opacity: 0.8;
  }
}
