@import url("hero__content.css");
@import url("hero__frame.css");

.hero {
  overflow: hidden;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
