@import url("styles/variables.css");
@import url("styles/basic.css");
@import url("styles/burger.css");
@import url("styles/header.css");
@import url("styles/mobile.css");
@import url("styles/card.css");
@import url("styles/hero.css");
@import url("styles/posts.css");
