:root {
  --color-white: #ffffff;
  --color-dark-white: #F5F5F5;
  --color-black: #353540;
  --color-gray: #5D5D61;
  --color-light-gray: #CCCCCC;
  --color-red: #EE4F3C;
  --color-violet: #6B5ACC;
  --color-orange: #FEC247;
  --color-blue: #232443;

  --heigth-header: 160px;
  --height-hero: 760px;
  --height-posts: 650px;
  --height-categories: 900px;
}