.vacancy {
  position: relative;
  padding: 100px 0 0 0;
}

.vacancy::before {
  z-index: 1;
  position: absolute;
  inset: 0;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(255, 248, 248, 0.96) 86%,
    rgba(255, 255, 255, 0.96) 96%
  );
}

.vacancy__petal-wrapper {
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(5, 372px);
  grid-template-rows: repeat(2, 372px);
  overflow: hidden;
}

.vacancy__petal-item {
  width: 372px;
  height: 372px;
  background-image: url("../../../assets/svg/backgrounds/petal.svg");
}

.vacancy__petal-item:nth-child(4) {
  grid-column-start: -6;
}

.vacancy__petal-item:nth-child(7) {
  grid-column-start: 5;
}

.vacancy__container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  column-gap: 50px;
}

.vacancy__media {
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 30px;
}

/*.vacancy__media-wrapper {*/
/*  display: grid;*/
/*  place-items: center;*/
/*  border-radius: 30px;*/
/*}*/

.vacancy__img {
  grid-area: 1 / 1;
}

.vacancy__player-icon {
  grid-area: 1 / 1;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.vacancy__player-icon:hover {
  opacity: 0.9;
}

.vacancy__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}

.vacancy__title {
  max-width: 400px;
  font-size: 48px;
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  color: var(--color-black);
}

.vacancy__description {
  max-width: 310px;
  font-size: 18px;
  color: var(--color-gray);
  line-height: 1.8;
}

.vacancy__button {
  border-radius: 10px;
  width: 220px;
  height: 70px;
}

.vacancy__button span::after {
  content: "🔮";
}


/*TODO: это костыль, сделать центрирование*/
@media (max-width: 1130px) {
  .vacancy__player-icon {
    display: none;
  }
}

@media (max-width: 930px) {
  .vacancy {
    padding: 50px 0;
  }

  .vacancy__container {
    grid-template-columns: minmax(200px, 570px);
    grid-template-rows: 300px 1fr;
    justify-content: center;
    row-gap: 30px;
  }

  .vacancy__content {
    row-gap: 25px;
  }

  .vacancy__title, .vacancy__description {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .vacancy__container {
    grid-template-rows: 200px 1fr;
  }
}
