.categories {
  position: relative;
  padding: 100px 0 0 0;
  background-color: var(--color-white);
}

.categories__container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 50px;
}

.categories__title {
  font-size: 48px;
  font-family: "Georgia", sans-serif;
  font-weight: bold;
  color: var(--color-black);
}

.categories__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.categories__dots {
  position: absolute;
  z-index: 0;
  top: 680px;
  left: 25px;
}

@media (max-width: 1450px) {
  .categories__dots {
    display: none;
  }
}
