.card--man {
  top: 190px;
  left: clamp(450px, 16vw + 200px, 500px);
}

.card__avatar--man {
  background-color: var(--color-orange);
}

@media (max-width: 1560px) {
  .card--man {
    display: none;
  }
}
