.card--hero {
  position: absolute;
  z-index: 2;
  width: 170px;
  height: 200px;
  row-gap: 8px;
  border-radius: 25px;
}

.card__avatar--hero {
  position: relative;
  width: 150px;
  height: 120px;
  border-radius: 20px;
}

.card__subtitle--hero {
  font-size: 14px;
  color: var(--color-gray);
}
