.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.card__title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Georgia", sans-serif;
  color: var(--color-black);
}

.card__subtitle {
  font-weight: 200;
}
