.dots {
  position: absolute;
  width: 180px;
  height: 265px;
  pointer-events: none;
}

.dots--categories {
  top: 680px;
  left: 25px;
}

.dots--registration {
  z-index: 30;
  top: 480px;
  left: 760px;
}

@media (max-width: 1620px) {
  .dots--categories, .dots--registration {
    display: none;
  }
}