html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

.body--mobile {
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.petals {
  position: absolute;
  inset: 0;
  z-index: -50;
  height: calc(var(--heigth-header) + var(--height-hero));
  background: url("../assets/petals.svg") left 0 top 0 no-repeat,
  url("../assets/petals.svg") left 0 top 300px no-repeat,
  url("../assets/petals.svg") left 0 top 600px no-repeat,
  linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: grayscale(100%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.red-btn {
  color: var(--color-white);
  background-color: var(--color-red);
}

.red-btn span {
  position: relative;
  display: inline-block;
  transition: transform 0.5s;
  font-size: 20px;
  font-weight: 500;
}

.red-btn:hover span {
  transform: translateX(-10px);
}

.red-btn span::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 100%;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.5s, opacity 0.5s;
}

.red-btn:hover span::after {
  opacity: 1;
  transform: translateX(5px);
}

input {
  padding: 0;
  border: none;
  outline: none;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: opacity 0.5s ease;
}


