.mobile {
  padding: 0 10px;
  z-index: 60;
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  animation: appearance 0.6s;
  overflow: auto;
}

.mobile--opened {
  display: block;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile__wrapper {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr auto 20px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "title burger ."
  "nav nav .";
  align-items: center;
  row-gap: 60px;
}

.mobile__title {
  grid-area: title;
  font-family: "Perpetua", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-white);
}

.mobile__title span {
  color: var(--color-red);
}

.mobile__burger {
  grid-area: burger;
  display: flex;
}

.mobile__nav {
  grid-area: nav;
}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mobile__nav-link {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-gray);
  transition: color 0.5s ease;
}

.mobile__nav-link:hover {
  color: var(--color-white);
}